.container-titulo {
    padding: 2%;
    padding-left: 9%;
}

.titulo-icon {
    width: 50px;
    height: 50px;
    margin-right: 10px
}

.botao_inicial {
    background-color: white;
    border: none;
}

.nome {
    display: inline-block;
}

.green {
    color: green;
    text-align: center;
}

.orange {
    color: orange;
}

.conteudo {
    display: flex;
    align-items: center;
}

@media screen and (min-width: 600px) {
    .container-cadastro {
        background-color: #fdf9ef;
        width: 50%;
        height: 50%;
        margin-left: 10%;
        border-width: 1px;
        border-style: solid;
        border-color: #1a0049;
    }

    .imagem {
        display: block;
        padding-top: 20px;
        margin-left: 50px;
        width: 50%;
        height: 50%;
    }
}

@media screen and (max-width: 500px) {
    .container-cadastro {
        background-color: #b8fc9d;
        width: 80%;
        height: 80%;
        margin-left: 13%;
        border-color: solid #1a0049 0.5px;
    }

    .imagem {
        display: none;
    }
}

.dica {
    font-family: Arial, Helvetica, sans-serif;
    color: green;
    font-size: x-large;
    text-align: center;
    padding-top: 2%;
}

.linha {
    border-top: 1px solid black;
    width: 100%;
}

.acessar {
    margin-left: 86%;
}

.btn-outline-custom {
    border-color: black;
    color: green;
    font-weight: bold;
    background-color: rgb(228, 228, 228);

}

.form_titulo {
    font-family: Arial, Helvetica, sans-serif;
    color: green;
}