body {
  text-align: center;
}

#top {
  text-align: left;
  padding-left: 20px;
}

.green {
  color: green;
}

.orange {
  color: orange;
}

.perfil {
  width: 20px;
  height: 30px;
  margin-right: 10px;
}

.botao_inicial {
  background-color: white;
  border: none;
}

.nome {
  display: inline-block;
}



#geral {
  padding-top: 1%;
  background-color: #ffffff;
  border-radius: 5px;
  border: solid orange 0.5px;
  display: inline-block;
  vertical-align: top;
  font-size: 15px;
  width: 40%;
  height: fit-content;
  margin-right: 10px;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  color: green;
}

#semanal {
  padding-top: 1%;
  background-color: #ffffff;
  border-radius: 5px;
  border: solid orange 0.5px;
  display: inline-block;
  vertical-align: top;
  font-size: 15px;
  width: 40%;
  height: fit-content;
  margin-right: 10px;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  color: green;
}

h1 {
  font-size: 22px;
}

#base {
  margin-left: -42 px;

}

table {
  border: 1px solid rgb(212, 210, 210);
  margin-left: 3%;
  margin-right: 4%;
  width: 94%;
  margin-bottom: 2%;
  font-family: Arial, Helvetica, sans-serif;
  overflow: hidden;
  margin-top: 2%;
  border-radius: 5px;
}

th,
td {
  border: 1px solid rgb(212, 210, 210);
  padding: 1%;
  background-color: rgb(243, 255, 243);
}