#top {
  text-align: left;
  margin-left: -5%;
  display: inline;
  text-align: center
}

#logo {
  display: inline-block;
}

#descricao {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin-left: 75%;
  margin-top: -4%;
  font-size: 50px
}

.perfil {
  width: 40px;
  height: 40px;

}

.botao_inicial {
  background-color: white;
  border: none;
}

.nome {
  display: inline-block;
  font-size: 200px;
  font-weight: bold;
  text-align: center
}

.green {
  color: green;
}

.orange {
  color: orange;
}

#base {
  text-align: center;
  display: table;
  border: 1px solid rgb(197, 197, 197);
  margin-left: 20%;
  border-radius: 4px;
  width: 60%;
  background-color: #b8fc9d;

}

.blocos {
  text-align: left;
  display: inline-block;
  border: 1px solid rgb(197, 197, 197);
  width: 100%;
  padding: 1%;
  margin: 1%;
  border-radius: 4px;
  background-color: #ffffff;

}

#esquerda {
  text-align: left;
  display: flex;
  width: 100%;
}

#direita {
  text-align: right;
  display: flex;
  width: 100%;

}