#top {
  text-align: left;
  padding-left: 20px;
  display: inline;
}

#logo {
  display: inline-block;
}

.perfil {
  width: 20px;
  height: 30px;
  margin-right: 10px;
}

.botao_inicial {
  background-color: white;
  border: none;
}

.nome {
  display: inline-block;
}

.green {
  color: green;
}

.orange {
  color: orange;
}

body {
  text-align: center;
  background-color: #ffffff;
}

#centro {
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: center;
  margin-left: -3%;
}

#divpalavra {
  text-align: center;
  margin-top: 20%;
  display: grid;
  justify-content: center;
}

#palavra {
  color: #1a0049;
  font-size: 100px;
  text-align: center;
  padding-top: 200px;
}

#titulo {
  color: #ffffff;
  background-color: #ffa12b;
  font-size: 10px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  border-radius: 5px;
  margin-left: 20px;
  margin-bottom: 5px;

  border: 1px solid #1a0049;
  width: 200px;
}

#lado {
  text-align: left;
  position: relative;
  margin-left: 10px;
}

#principal {
  background-color: #e0fdd4;
  border-radius: 5px;
  border: solid #1a0049 0.5px;
  width: 650px;
  height: 500px;
  text-align: left;
  position: relative;
  justify-content: center;
  margin-left: -15%;
}

#pontuacao {
  color: green;
  background-color: #fdf9ef;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 5px;
  padding-left: 5px;
  padding: 10PX;
  margin-bottom: 10px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: left;
  border: 1px solid #1a0049;
  width: 200px;
}

#tempo {
  font-family: Arial, Helvetica, sans-serif;
  color: green;
  background-color: #fdf9ef;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 5px;
  padding-left: 5px;
  padding: 10PX;
  margin-bottom: 55px;
  border: 1px solid #1a0049;
}


#alvopato {
  width: 130px;
  margin-top: 15%;
  margin-bottom: 15%;
}

#inputusuario {
  padding: 8px;
  width: 450px;
  display: none;
}

.button {
  position: relative;

  margin-top: 50px;
  width: 150px;
}

.button a {
  color: white;
  font-family: Helvetica, sans-serif;
  font-weight: bold;
  font-size: 20px;
  text-align: center;
  text-decoration: none;
  background-color: #ffa12b;
  display: block;
  position: relative;
  padding: 10px 20px;

  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  text-shadow: 0px 1px 0px #944949;
  filter: dropshadow(color=#000, offx=0px, offy=1px);

  -webkit-box-shadow: inset 0 1px 0 #ffe5c4, 0 10px 0 rgb(223, 132, 14);
  -moz-box-shadow: inset 0 1px 0 #ffe5c4, 0 10px 0 rgb(223, 132, 14);
  box-shadow: inset 0 1px 0 #ffe5c4, 0 10px 0 rgb(223, 132, 14);

  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.button a:active {
  top: 10px;
  background-color: #f78900;

  -webkit-box-shadow: inset 0 1px 0 #ffe5c4, inset 0 -3px 0 #000000;
  -moz-box-shadow: inset 0 1px 0 #ffe5c4, inset 0 -3px 0 #915100;
  box-shadow: inset 0 1px 0 #ffe5c4, inset 0 -3px 0 #915100;
}