.container-titulo {
    padding: 2%;
    padding-left: 9%;
}

.titulo-icon {
    width: 50px;
    height: 50px;
    margin-right: 10px
}

.botao_inicial {
    background-color: white;
    border: none;
}

.nome {
    display: inline-block;
}

.green {
    color: green;
    text-align: center;
}

.orange {
    color: orange;
}

.conteudo {
    display: flex;
    align-items: center;
}

.container-lista {
    background-color: #b8fc9d;
    width: 40%;
    height: 40%;
    margin-left: 13%;
    border-width: 1px;
    border-style: solid;
    border-color: #1a0049;
}

.lista {
    overflow-y: auto;
    max-height: 420px;
}

.liga {
    display: flex;
    align-items: center;
    margin: 1.1%;
    border-width: 1px;
    border-style: solid;
    border-color: #1a0049;
}

.conteudo-liga {
    display: block;
}

.informacoes {
    display: inline-flex;
    font-family: cursive;
}

.nome-liga {
    margin-left: 10%;
    font-size: 200%;
}

.qtde-jogadores {
    display: inline-flex;
    align-items: end;
    margin-left: 110%;
    margin-bottom: 5%;
}

.qtde {
    margin-left: 5%;
}

.entrar {
    margin-left: 120%;
}

.btn-outline-custom {
    border-color: black;
    color: green;
}

.container-form {
    background-color: #b8fc9d;
    width: 30%;
    height: 30%;
    margin-left: 5%;
    border-width: 1px;
    border-style: solid;
    border-color: #1a0049;
}

.dica {
    font-family: cursive;
    color: orange;
    font-size: x-large;
    text-align: center;
    padding-top: 2%;
}

.linha {
    border-top-width: 1px;
    border-style: solid;
    border-color: black;
    width: 100%;
}

.criar {
    margin-left: 86%;
}

.btn-outline-custom {
    border-color: black;
    color: orange;
    font-weight: bold;
}