body {
    text-align: center;
}

#top {
    text-align: left;
    padding-left: 20px;
  }

  .green {
    color: green;
  }
  
  .orange {
    color: orange;
  }

.perfil {
    width: 20px; 
    height: 30px; 
    margin-right: 10px;
  }
  .botao_inicial {
    background-color: white;
    border: none; 
  }
  .nome {
    display: inline-block;
  }

#geral {
    background-color: #fffbf4;
    border-radius: 5px;
    border: solid #1a0049 0.5px;
    display: inline-block;
    vertical-align: top; 
    width: 40%;
    height: 500px;
    margin-right: 10px; 
    box-sizing: border-box; 
    color: green;
    padding-top: 1%;
}

#criar-liga {
  padding-top: 1%;
  background-color: #fffbf4;
  border-radius: 5px;
  border: solid #1a0049 0.5px;
  display: inline-block;
  vertical-align: top; 
  width: 40%;
  height: 500px;
  margin-right: 10px; 
  box-sizing: border-box; 
  color: green;
  text-align: justify;
}

h1 {
  font-size: 22px;
}

#base {
  margin-left: -42 px;

}

.form-titulo {
  margin-left: 20px;
}

.dica {
  font-family: cursive;
  color: orange;
  font-size: x-large;
  text-align: center;
}

.explica {
  font-family: cursive;
  color: orange;
  font-size: medium;
  text-align: center;
}

.linha {
  border-top-width: 1px; 
  border-style: solid; 
  border-color: black;
  width: 100%;
}

.lista {
  overflow-y: auto;
  max-height: 360px;
}

.container-liga {
  border-top-width: 1px; 
  border-style: solid; 
  border-color: black;
}

.conteudo-liga {
  display: block;
}

.informacoes {
  display: inline-flex;
  font-family: cursive;
}

.nome-liga {
  margin-left: 10px;
  font-size: xx-large;
}

.qtde-jogadores {
  display: inline-flex;
  align-items: end;
  margin-left: 200px;
  margin-bottom: 10px;
}

.qtde {
  margin-left: 20px;
}

.input {
  margin-left: 20px;
}

.criar {
  margin-top: 20px;
  margin-left: 85%;
}

.btn-outline-custom {
  border-color: black;
  color: orange;
  font-weight: bold;
}


