.botao_inicial {
    background-color: white;
    border: none;
}

.nome {
    display: inline-block;
    font-size: 135px;
}

.green {
    color: green;
    margin-left: 28%;
}

.orange {
    color: orange;
}

h1 {
    margin-top: 12%;
}

.btn-outline-custom {
    border-color: #40C057;
    color: green;
    margin: 0 3px;
}

.footer {
    color: green;
    position: fixed;
    text-align: center;
    bottom: 0;
    border: 1px solid rgb(182, 182, 182);
    width: 100%;
    padding-top: 1%;
    padding-bottom: -0.5%;
    font-size: small;
}


#descricao {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-left: 23%;
    margin-top: -1.5%
}

.titulo {
    margin-top: 10px;
}


.acessar {
    margin-left: 320px;
    margin-bottom: 10px;
}


.perfil {
    width: 20px;
    height: 30px;
    margin-right: 10px;
}

.logincadastro {
    position: fixed;
    top: 0;
    right: 0;
    padding: 1%;
    display: flex;
    justify-content: space-between;
}