#top {
  text-align: left;
  padding-left: 20px;
}

.perfil {
  width: 20px;
  height: 30px;
  margin-right: 10px;
}

.botao_inicial {
  background-color: white;
  border: none;
}

.nome {
  display: inline-block;
}

.green {
  color: green;
}

.orange {
  color: orange;
}

body {
  text-align: center;
  background-color: #ffffff;
}



#base {
  text-align: left;
  margin-left: 7%;
  display: flex;
  width: 120%;
}

#perfil {
  background-color: rgb(251, 255, 251);
  border-radius: 5px;
  border: solid #1a0049 0.5px;
  display: inline-block;
  vertical-align: top;
  font-size: xx-large;
  width: 40%;
  height: fit-content;
  margin-right: 10px;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  color: green;
  padding-top: 1%;
}

.sair {
  position: fixed;
  top: 0;
  right: 0;
  padding: 10px;
  display: flex;

}

.bbotao {
  border-color: #40C057;
  color: green;
  background-color: #ffffff;
}

.titulos {
  font-family: Arial, Helvetica, sans-serif;
  color: green;
  font-size: 19px;
  text-align: left;
  padding-top: 2%;
  padding-left: 3%;
}

#titulo {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  color: green;
  font-size: xx-large;
}

img {
  display: inline-block;
}

.phps {
  border: 1px solid rgb(212, 210, 210);
  font-size: medium;
  text-align: left;
  padding: 1%;
  font-family: Arial, Helvetica, sans-serif;
  margin-left: 3%;
  margin-right: 3%;
  margin-bottom: 5%;
  color: rgb(68, 68, 68);
  margin-top: -2%;
  border-radius: 5px;
  height: 33px default;
  width: 80% default;
  min-width: fit-content;
  min-height: fit-content;
  background-color: rgb(255, 255, 255);
}

table.custom-table {
  border: 1px solid rgb(212, 210, 210);
  margin-left: 3%;
  margin-right: 4%;
  font-size: 15px;
  width: 94%;
  margin-bottom: 1%;
  font-family: Arial, Helvetica, sans-serif;
  overflow: hidden;
  margin-top: -2%;
}

table.custom-table th,
table.custom-table td {
  border: 1px solid rgb(212, 210, 210);
  padding: 1%;
  background-color: rgb(255, 255, 255);
}